<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сторінка про нас</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
     <div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="text-muted" href="/design">Design</a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark">Мy Travel</a>
      </divn
      <div class="col-4 d-flex justify-content-end align-items-center">
      </div>
    </div>
  </header>
         <div class="header"><p align="right">Technology</p></div>
     </div>


</body>
</html>